.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
}
.pagination-container > p {
  margin: 10px 25px;
  font-size: 14px;
}
.pagination-buttons {
  margin: 3px 15px;
  font-size: 12px;
  opacity: 0.54;
  display: flex;
  flex-direction: row;
  align-items: center;
}
